.navbar
  .navbar-inner
    .left
      a(href='repairs.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Repair Details

.pages
  div(data-page='repair-2' class='page')
    .page-content
      .content-block
        .buttons-row
          a(href='#info' class='tab-link active button') Information
          a(href='#history' class='tab-link button') History

      .tabs
        #info.tab.active
          .content-block-title DEVICE INFORMATION
          .list-block.inset
            ul
              li.item-content
                .item-media #[i.material-icons subdirectory_arrow_right]
                .item-inner
                  .item-title Category
                  .item-after Cell Phone
              li.item-content
                .item-media #[i.material-icons subdirectory_arrow_right]
                .item-inner
                  .item-title Brand
                  .item-after Apple
              li.item-content
                .item-media #[i.material-icons subdirectory_arrow_right]
                .item-inner
                  .item-title Model
                  .item-after iPhone 7
              li.item-content
                .item-media #[i.material-icons subdirectory_arrow_right]
                .item-inner
                  .item-title Status
                  .item-after Completed
              li.item-content
                .item-media #[i.material-icons subdirectory_arrow_right]
                .item-inner
                  .item-title Estimated Repair Date
                  .item-after 11/09/2016

          .content-block-title Service Provider Information
          .list-block.inset
            ul
              li.item-content
                .item-media #[i.material-icons build]
                .item-inner
                  .item-title Orda Tech: Phone Repair
              li.item-content
                .item-media #[i.material-icons phone]
                .item-inner
                  .item-title Contact Number
                  .item-after (732) 226-3351

          .content-block-title Issues
          .list-block.inset
            ul
              li.item-content
                .item-inner
                  .item-title Broken or cracked screen
              li.item-content
                .item-inner
                  .item-title Water damage
              li.item-content
                .item-inner
                  .item-title Microphone not working
          .content-block
            a(href='repairs/rate.html' class='button button-big button-fill' style='background: #3AA64C') Rate

        #history.tab
          .content-block-title Repair History
          .list-block.inset
            ul
              li.item-content
                .item-media #[i.material-icons done_all]
                .item-inner
                  .item-title Payment Received
                  .item-after 10/06/2016
              li.item-content
                .item-media #[i.material-icons done_all]
                .item-inner
                  .item-title Device Returned
                  .item-after 10/05/2016
              li.item-content
                .item-media #[i.material-icons done_all]
                .item-inner
                  .item-title Repair Completed
                  .item-after 10/04/2016
              li.item-content
                .item-media #[i.material-icons done_all]
                .item-inner
                  .item-title Repair in Progress
                  .item-after 10/03/2016
              li.item-content
                .item-media #[i.material-icons done_all]
                .item-inner
                  .item-title Device Diagnosed
                  .item-after 10/03/2016
              li.item-content
                .item-media #[i.material-icons done_all]
                .item-inner
                  .item-title Device Arrived
                  .item-after 10/02/2016
              li.item-content
                .item-media #[i.material-icons done_all]
                .item-inner
                  .item-title Device Picked Up
                  .item-after 10/02/2016
              li.item-content
                .item-media #[i.material-icons done_all]
                .item-inner
                  .item-title Service Repair Request
                  .item-after 10/01/2016
