.navbar
  .navbar-inner
    .left
      a(href='settings/settings.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Sounds

div(data-page='location' class='page')
  .page-content
    .content-block-title Your Device Settings
    .list-block.inset
      ul
        li
          .item-content
            .item-media #[i.material-icons volume_up]
            .item-inner
              div(class='item-title label' style='width: 200px') In-App Sound
              .input-item
                label.label-switch
                  input(type='checkbox')
                  .checkbox
