.navbar
  .navbar-inner
    .center.sliding Notifications

.pages
  div(data-page='notifications-main' class='page')
    .page-content
      .content-block
        .buttons-row
          a(href='#' class='tab-link active button') All
          a(href='#' class='tab-link button') Messages
