.navbar
  .navbar-inner
    .left
      a(href='settings/settings.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Help Center

.pages
  div(data-page='help-center' class='page')
    .page-content
      .content-block-title Device Information
      .list-block.inset
        ul
          li
            a(href='#' class='item-link smart-select' data-open-in='popup')
              select(name='category')
                option(value='serviceissues' selected) Service Issues
                option(value='generalquestions') General Questions
              .item-content
                .item-media #[i.material-icons input]
                .item-inner
                  .item-title Category
                  .item-after Service Issues
          li
            .item-content
              .item-media #[i.material-icons title]
              .item-inner
                .item-input
                  input(type='text' placeholder='Title')
          li
            .item-content
              .item-media #[i.material-icons filter_1]
              .item-inner
                .item-input
                  input(type='text' placeholder='Service ID Number')
          li.align-top
            .item-content
              .item-media #[i.material-icons insert_comment]
              .item-inner
                .item-title.label Message
                .item-input
                  textarea
      .content-block
        .row
          .col-50 #[a(href='settings/settings.html' class='button button-big button-fill' id='btn-help-center' style='background: #3AA64C') Send]
          .col-50 #[a(href='settings/settings.html' class='button button-big button-fill') Cancel]
