.navbar
  .navbar-inner
    .left
      a(href='settings/settings.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Terms & Policies

.pages
  div(data-page='terms-policies' class='page')
    .page-content
      .card
        .card-header 1. Terms
        .card-content
          .card-content-inner.
            By accessing this web site, you are agreeing to be bound by these
            web site Terms and Conditions of Use, all applicable laws and
            regulations, and agree that you are responsible for compliance
            with any applicable local laws. If you do not agree with any of
            these terms, you are prohibited from using or accessing this site.
            The materials contained in this web site are protected by
            applicable copyright and trade mark law.
      .card
        .card-header 2. Disclaimer
        .card-content
          .card-content-inner.
            The materials on GETTECH's web site are provided "as is".
            GETTECH makes no warranties, expressed or implied, and hereby
            disclaims and negates all other warranties, including without
            limitation, implied warranties or conditions of merchantability,
            fitness for a particular purpose, or non-infringement of
            intellectual property or other violation of rights. Further,
            GETTECH does not warrant or make any representations concerning
            the accuracy, likely results, or reliability of the use of the
            materials on its Internet web site or otherwise relating to such
            materials or on any sites linked to this site.
      .card
        .card-header 3. Limitations
        .card-content
          .card-content-inner.
            In no event shall GETTECH or its suppliers be liable for any
            damages (including, without limitation, damages for loss of
              data or profit, or due to business interruption,) arising
              out of the use or inability to use the materials on GETTECH's
              Internet site, even if GETTECH or a GETTECH authorized
              representative has been notified orally or in writing of the
              possibility of such damage. Because some jurisdictions do not
              allow limitations on implied warranties, or limitations of
              liability for consequential or incidental damages, these
              limitations may not apply to you.
