.navbar
  .navbar-inner
    .left
      a(href='notifications/notifications.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Message

.pages
  div(data-page='message' class='page toolbar-fixed')
    div(data-max-height='200' class='toolbar messagebar messagebar-init')
      .toolbar-inner
        textarea(placeholder='Message')
        a(href='#' class='link') Send

    .page-content.messages-content
      .messages
        .messages-date Monday, Nov 9 #[span 12:58]

        .message.message-with-avatar.message-received
          .message-name Geek Squad
          .message-text.
            Hello, thank you for contacting us. One of our employees will be
            at your house today to pick up the broken device. Please let us know
            what time will be good for you.
          div(style='background-image:url(../img/geeksquadlogo.png)'
              class='message-avatar')

        .messages-date Monday, Nov 9 #[span 1:22]
        .message.message-sent
          .message-text Hi, I will be available around 5:00 PM today. Thanks.

        .message.message-with-avatar.message-received
          .message-name Geek Squad
          .message-text.
            Great, we will see you then!
          div(style='background-image:url(../img/geeksquadlogo.png)'
              class='message-avatar')

        .messages-date Tuesday, Nov 10 #[span 12:58]
        .message.message-with-avatar.message-received
          .message-name Geek Squad
          .message-text.
            Hello, we are currently looking at your device and we noticed
            a few more issues with it. Would you like us to proceed with the
            repair. Please let us know as sson as possible. Thanks.
          div(style='background-image:url(../img/geeksquadlogo.png)'
              class='message-avatar')
