.navbar
  .navbar-inner
    .center.sliding Notifications

.pages
  div(data-page='notifications' class='page')
    .page-content
      .content-block
        .buttons-row
          a(href='#all' class='tab-link active button') All
          a(href='#messages' class='tab-link button') Messsages

      .tabs
        #all.tab.active
          .content-block-title Notifications
          .list-block.media-list.inset
            ul
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after 14:00
                    .item-subtitle New message from #[strong Geek Squad]
                    .item-text.
                      Hello, we are currently looking at your device and we noticed
                      some more issues with it. Would you likes us to proceed with
                      the repair?
              li
                a(href='repairs/repair-2.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-update Status Update]
                      .item-after Nov 6
                    .item-subtitle New update from #[strong Orda Tech]
                    .item-text.
                      The status of repair for your item has changed
                      to #[strong complete].
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after Nov 5
                    .item-subtitle New message from #[strong Monmouth Stereo Center]
                    .item-text.
                      We have received your device and we would like to proceed
                      with the repair. Is there anything else that we should now?
              li
                a(href='repairs/repair-2.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-update Status Update]
                      .item-after Nov 1
                    .item-subtitle New update from #[strong Orda Tech]
                    .item-text.
                      The status of repair for your item has changed
                      to #[strong in progress].
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after Oct 22
                    .item-subtitle New message from #[strong Monmouth Stereo Center]
                    .item-text.
                      Yes, we did the microphone and everything seems to be working
                      properly. Would you want to come in and take a look at it yourself?
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after Oct 19
                    .item-subtitle New message from #[strong Geek Squad]
                    .item-text.
                      Hello, thank you for contacting us. We would like to
                      help you anyway we can. Please feel free to schedule
                      a service repair with us!
        #messages.tab
          .content-block-title Messages
          .list-block.media-list.inset
            ul
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after 14:00
                    .item-subtitle New message from #[strong Geek Squad]
                    .item-text.
                      Hello, we are currently looking at your device and we noticed
                      some more issues with it. Would you likes us to proceed with
                      the repair?
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after Nov 5
                    .item-subtitle New message from #[strong Monmouth Stereo Center]
                    .item-text.
                      We have received your device and we would like to proceed
                      with the repair. Is there anything else that we should now?
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after Oct 22
                    .item-subtitle New message from #[strong Monmouth Stereo Center]
                    .item-text.
                      Yes, we did the microphone and everything seems to be working
                      properly. Would you want to come in and take a look at it yourself?
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after Oct 19
                    .item-subtitle New message from #[strong Affordable Repair]
                    .item-text.
                      Hello, thank you for contacting us. We would like to
                      help you anyway we can. Please feel free to schedule
                      a service repair with us!
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after Oct 10
                    .item-subtitle New message from #[strong MDrepairs]
                    .item-text.
                      Hello, thank you for contacting us. We would like to
                      help you anyway we can. Please feel free to schedule
                      a service repair with us!
              li
                a(href='notifications/message.html' class='item-link item-content')
                  .item-inner
                    .item-title-row
                      .item-title #[span.theme-new-message Message]
                      .item-after Oct 8
                    .item-subtitle New message from #[strong Geek Squad]
                    .item-text.
                      Hello, thank you for contacting us. We would like to
                      help you anyway we can. Please feel free to schedule
                      a service repair with us!
