.navbar
  .navbar-inner
    .left
      a(href='index.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Registration
.pages
  div(data-page='sp1' class='page')
    .page-content
      .content-block
        .buttons-row
          a(href='#customer' class='tab-link active button') Customer
          a(href='#service-provider' class='tab-link button') Service Provider

      .tabs
        #customer.tab.active
          .content-block-title Personal Information
          .list-block.inset
            ul
              li
                .item-content
                  .item-media #[i.material-icons account_box]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Full Name')
              li
                .item-content
                  .item-media #[i.material-icons event]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Date of Birth')
              li
                .item-content
                  .item-media #[i.material-icons phone]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Phone Number')
              li
                .item-content
                  .item-media #[i.material-icons email]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Email Address')
              li
                .item-content
                  .item-media #[i.material-icons edit]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Password')
              li
                .item-content
                  .item-media #[i.material-icons edit]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Repeat Password')

          .content-block-title Address Details
          .list-block.inset
            ul
              li
                .item-content
                  .item-media #[i.material-icons home]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Street Address')

              li
                .item-content
                  .item-media #[i.material-icons local_post_office]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='City')
              li
                .item-content
                  .item-media #[i.material-icons directions]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='State')
              li
                .item-content
                  .item-media #[i.material-icons store_mall_directory]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Zip-Code')
          .content-block
            .row
              .col-50 #[a(href='index.html' class='button button-big button-fill' style='background: #3AA64C') Register]
              .col-50 #[a(href='index.html' class='button button-big button-fill' style='background: #ff3b30') Cancel]


        #service-provider.tab
          .content-block-title Business Information
          .list-block.inset
            ul
              li
                .item-content
                  .item-media #[i.material-icons account_box]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Name')
              li
                .item-content
                  .item-media #[i.material-icons phone]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Phone Number')
              li
                .item-content
                  .item-media #[i.material-icons email]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Email Address')
              li
                .item-content
                  .item-media #[i.material-icons edit]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Password')
              li
                .item-content
                  .item-media #[i.material-icons edit]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Repeat Password')
              li
                .item-content
                  .item-media #[i.material-icons assignment_turned_in]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Upload Certification')


          .content-block-title Address Details
          .list-block.inset
            ul
              li
                .item-content
                  .item-media #[i.material-icons home]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Street Address')

              li
                .item-content
                  .item-media #[i.material-icons local_post_office]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='City')
              li
                .item-content
                  .item-media #[i.material-icons directions]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='State')
              li
                .item-content
                  .item-media #[i.material-icons store_mall_directory]
                  .item-inner
                    .item-input
                      input(type='text' placeholder='Zip-Code')
          .content-block
            .row
              .col-50 #[a(href='index.html' class='button button-big button-fill' style='background: #3AA64C') Register]
              .col-50 #[a(href='index.html' class='button button-big button-fill' style='background: #ff3b30') Cancel]
