$font-stack: 'Roboto', Helvetica, sans-serif

$red-dark: #8C2418
$red-light: #C13322
$white: #FFFFFF
$green: #4CD964
$blue: #2099E3

body
  font: 100% $font-stack
  background-image: url(../img/background-img.png)

.container
  max-width: 960px
  margin: 0 auto

hr
  height: 2px
  border: none
  background-image: linear-gradient(to right, #F4F4F4, $red-dark 75%, #F4F4F4)
  margin: 0 auto
  width: 95%

.hide
  display: none

.main-row-1
  height: 100px

  .content
    display: flex
    color: $red-dark
    letter-spacing: .25em

    .col-1
      flex-grow: 1
      font-size: 1.2em
      padding-top: 0px

    .col-2
      flex-grow: 1
      padding-top: 0px
      line-height: .1em
      text-align: right
      font-weight: 600

.main-row-2
  height: 60px

  .content
    display: flex
    color: white
    letter-spacing: .15em

    p
      margin: 10px

    .col
      flex-grow: 1
      background-color: $red-light
      text-align: center
      margin: 10px 100px 5px 100px
      border-radius: .1em
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7)
      transition: transform 0.15s ease-in-out

      &:hover
        cursor: pointer
        transform: scale(1.25)

.main-row-3
  margin-top: 25px

  .content
    text-align: center
    position: relative

    img
      width: 450px

    iframe
      position: absolute
      top: 125px
      left: 277px
      width: 410px
      height: 690px
      border: 1px solid black

#registration-show
  &:hover
    cursor: pointer
