$font-stack: 'Roboto', Helvetica, sans-serif

$red-dark: #8C2418
$red-light: #C13322
$white: #FFFFFF
$green: #4CD964
$blue: #2099E3


body
  font: 100% $font-stack

.container
  max-width: 960px
  margin: 0 auto

.main-row-1
  height: 125px
  background-image: linear-gradient(to top right, $red-light 60%, #41110C)
  border-bottom: 1px solid $white

  .content
    display: flex
    color: $white
    letter-spacing: .25em

    .col-1
      flex-grow: 1
      font-size: 1.2em
      padding-top: 15px

    .col-2
      flex-grow: 1
      padding-top: 5px
      line-height: .25em
      text-align: right


.main-row-2
  height: 50px
  background-color: $red-dark

.main-row-3
  height: 300px
  background-color: $white
