doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')

    title Customer

    link(rel='stylesheet' href='../libs/Framework7/dist/css/framework7.ios.min.css')
    link(rel='stylesheet' href='../libs/Framework7/dist/css/framework7.ios.colors.min.css')

    //link(rel='stylesheet' href='styles/main.css')

  body
    .statusbar-overlay

    .panel-overlay

    .panel.panel-left.panel-reveal
      .content-block
        p Left panel content goes here

    .view.view-main
      .navbar
        .navbar-inner
          .center.sliding Awesome App
          .right
            a(href='#' class='link icon-only open-panel') #[i.icon.icon-bars]

      .pages.navbar-through.toolbar-through
        div(data-page='index' class='page')
          div.page-content
            p Page content goes here
            a(href='about.html') About App

      .toolbar
        .toolbar-inner
          a(href='#' class='link') Link 1
          a(href='#' class='link') Link 2

    script(src='../libs/Framework7/dist/js/framework7.min.js')
    //script(src='js/main.css')
