.navbar
  .navbar-inner
    .center.sliding Repairs

.pages
  div(data-page='repairs' class='page')
    .page-content
      .content-block
        .content-block-title Active
        .list-block.media-list
          ul
            li
              a(href='#' class='item-link item-content theme-inprogress')
                .item-inner
                  .item-title-row
                    .item-title iPhone 7 Plus
                    .item-after Nov 01, 2016
                  .item-subtitle Orada Tech: Phone Repair
                  .item-text.
                    Broken or craked screen, water damage, microphone not working...
            li
              a(href='#' class='item-link item-content theme-inprogress')
                .item-inner
                  .item-title-row
                    .item-title iPad 2 Mini
                    .item-after October 28, 2016
                  .item-subtitle Geek Squad
                  .item-text.
                    Power or home button not working, speaker not working...
            li
              a(href='#' class='item-link item-content theme-inprogress')
                .item-inner
                  .item-title-row
                    .item-title iPhone SE
                    .item-after October 27, 2016
                  .item-subtitle Monmouth Stero Center
                  .item-text.
                    Volume controls not working, speaker not working, microphone not working...

        .content-block-title Completed
        .list-block.media-list
          ul
            li
              a(href='#' class='item-link item-content theme-completed')
                .item-inner
                  .item-title-row
                    .item-title iPhone 7
                    .item-after Sep 10, 2016
                  .item-subtitle Orada Tech: Phone Repair
                  .item-text.
                    Broken or craked screen, water damage, microphone not working...
            li
              a(href='#' class='item-link item-content theme-completed')
                .item-inner
                  .item-title-row
                    .item-title iPad Air 2
                    .item-after Aug 28, 2016
                  .item-subtitle Geek Squad
                  .item-text.
                    Power or home button not working, speaker not working...
            li
              a(href='#' class='item-link item-content theme-completed')
                .item-inner
                  .item-title-row
                    .item-title Samsung Glaxy S5
                    .item-after July 1, 2016
                  .item-subtitle Monmouth Stero Center
                  .item-text.
                    Volume controls not working, speaker not working, microphone not working...
