.login-screen
  .view
    .page
      .page-content.login-screen-content
        .login-screen-title GETTECH
        form
          .list-block
            ul
              li.item-content
                .item-inner
                  .item-title.label Username
                  .item-input
                    input(text='type' placeholder='Username')
