.navbar
  .navbar-inner
    .center.sliding Settings

.pages
  div(data-page='settings-main' class='page')
    .page-content
      .content-block-title Account Settings
      .list-block.inset
        ul
          li
            a(href='settings/general.html' class='item-link item-content')
              .item-media #[i.material-icons portrait]
              .item-inner
                .item-title General
          li
            a(href='settings/sounds.html' class='item-link item-content')
              .item-media #[i.material-icons volume_up]
              .item-inner
                .item-title Sounds
          li
            a(href='settings/notifications.html' class='item-link item-content')
              .item-media #[i.material-icons notifications]
              .item-inner
                .item-title Notifications
      .content-block-title Help and Support
      .list-block.inset
        ul
          li
            a(href='settings/help-center.html' class='item-link item-content')
              .item-media #[i.material-icons live_help]
              .item-inner
                .item-title Help Center
          li
            a(href='settings/report-problem.html' class='item-link item-content')
              .item-media #[i.material-icons report_problem]
              .item-inner
                .item-title Report a Problem
          li
            a(href='settings/terms-policies.html' class='item-link item-content')
              .item-media #[i.material-icons content_paste]
              .item-inner
                .item-title Terms & Policies

      .list-block.inset
        ul
          li
            a(href='settings/profile-page.html' class='item-link item-content')
              .item-media #[i.material-icons account_box]
              .item-inner
                .item-title Profile Page
          li
            a(href='#' class='item-link item-content')
              .item-media #[i.material-icons input]
              .item-inner
                .item-title Sing out
