.navbar
  .navbar-inner
    .left
      a(href='index.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Service Provider Details
.pages
  div(data-page='sp1' class='page')
    .page-content
      .content-block
        .buttons-row
          a(href='#details' class='tab-link active button') Details
          a(href='#reviews' class='tab-link button') Reviews

      .tabs
        #details.tab.active
          .content-block
            .card
              .card-header Orada Tech: Phone Repair
              .card-content
                .card-content-inner
                  .row
                    .col-20 #[i.material-icons home]
                    .col-80 82 Bethany Rd, Hazlet, NJ 07730

                  .row
                    .col-20 #[i.material-icons phone]
                    .col-80 (732) 226-3351

                  .row
                    .col-20 #[i.material-icons link]
                    .col-80 oradatech.com
            .card
              .card-content
                .card-content-inner
                  .card-content-inner-ratings
                    .row.row1
                      .col1 #[span.rating 3.5]
                      .col2
                          i.material-icons star
                          i.material-icons star
                          i.material-icons star
                          i.material-icons star_half
                          i.material-icons star_border
                      .col3 #[strong 121] reviews
                    .row.row2
                      .col1
                        p #[span 95%] Jobs Completed
                        p #[span 97%] On Time
                      .col2
                        p #[span 99%] On Budget
                        p #[span 32%] Repeat Hire Rate
            .card
              .card-header About
              .card-content
                .card-content-inner.
                  After attending Christian Brothers Academy and working
                  closely together at Vector Marketing, Co-Founders Justen
                  and John brainstormed the idea of starting a business near
                  Virginia Tech’s campus. After noticing the need for a more
                  professional and efficient technological repair business,
                  they decided to take action. They hired experienced
                  technicians, who were also personal friends, and worked
                  tirelessly to create the best tech-repair business around.
            .card
              .card-header Services
              .card-content
                .card-content-inner.
                  We specialize in repairing mobile phones including Water
                  Damage is a common issue, We have fast repair, with 90 day
                  warranty on all repairs, great customer service.

            .row
              .col-50
                a(href='schedule-service.html' class='button button-big button-fill' style='background: #3AA64C') Schedule Service
              .col-50
                a(href='contact-us.html' class='button button-big button-fill' style='background: #007aff') Contact Us

        #reviews.tab
          .content-block
            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/male-1.jpg' width='34' height='34')
                .facebook-name Paul	Goodman
                .facebook-date November 1 at 2:15 PM
              .card-content
                .card-content-inner
                  p.
                    About 70 bucks for a cracked iPhone 5s screen- dropped
                    it pretty bad on cement and the crack was ridiculous
                    but the phone was still fully functional. Decent price
                    compared to Apple repairs I bet.
                  img(src='../customer/images/reviews/iphone-1.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half
                  i.material-icons star_border

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/female-1.jpg' width='34' height='34')
                .facebook-name Dolores Miller
                .facebook-date October 28 at 8:00 AM
              .card-content
                .card-content-inner
                  p.
                    Service was fine and quick which was great that day...
                    140$ for screen fix plus case ok cool I can deal. Except
                    a month later and realized whatever glue they used to hold
                    the new screen down isn't holding.. Shortly after dropped
                    phone w case and screen protector cracking the screen...not
                    the screen protecter...
                  img(src='../customer/images/reviews/iphone-2.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_border
                  i.material-icons star_border
                  i.material-icons star_border

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/female-2.jpg' width='34' height='34')
                .facebook-name Pamela	Murray
                .facebook-date October 24 at 3:00 PM
              .card-content
                .card-content-inner
                  p.
                    Did the online quote....got back to me by the next day! Went
                    in Saturday morning. Guy, don't know his name, was SUPER
                    nice! I phone screen replaced in 30 min! So far all is perfect!
                  img(src='../customer/images/reviews/iphone-1.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/male-2.jpg' width='34' height='34')
                .facebook-name Kenneth	Powers
                .facebook-date October 1 at 8:45 PM
              .card-content
                .card-content-inner
                  p.
                    Cracked iPhone 6S screen repair. Fast repair,
                    less money than other local repair shops and they
                    offered a tempered glass screen cover Installed at a
                    discount. Pleasant staff.  90 day warranty on the
                    repair.  Open 7 days a week.
                  img(src='../customer/images/reviews/ipad-1.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/male-1.jpg' width='34' height='34')
                .facebook-name Paul	Goodman
                .facebook-date November 1 at 2:15 PM
              .card-content
                .card-content-inner
                  p.
                    About 70 bucks for a cracked iPhone 5s screen- dropped
                    it pretty bad on cement and the crack was ridiculous
                    but the phone was still fully functional. Decent price
                    compared to Apple repairs I bet.
                  img(src='../customer/images/reviews/iphone-1.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half
                  i.material-icons star_border

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/male-3.jpg' width='34' height='34')
                .facebook-name Ralph Gomez
                .facebook-date May 4 at 2:15 PM
              .card-content
                .card-content-inner
                  p.
                    Stan was very helpful, approachable, and quick! There's
                    a 90 day warranty with everything they fix too! We brought
                    in an ipad mini with a shattered screen and after they
                    replaced the screen, it looks as good as new! They also
                    offer great prices relative to other stores!
                  img(src='../customer/images/reviews/ipad-2.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half
                  i.material-icons star_border
