.navbar
  .navbar-inner
    .left
      a(href='index.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Service Provider Details
.pages
  div(data-page='sp7' class='page')
    .page-content
      .content-block
        .buttons-row
          a(href='#details' class='tab-link active button') Details
          a(href='#reviews' class='tab-link button') Reviews

      .tabs
        #details.tab.active
          .content-block
            .card
              .card-header Smartfix repairs
              .card-content
                .card-content-inner
                  .row
                    .col-20 #[i.material-icons home]
                    .col-80 95 Page Ave, Staten Island, NY 10309

                  .row
                    .col-20 #[i.material-icons phone]
                    .col-80 (718) 967-3202

                  .row
                    .col-20 #[i.material-icons link]
                    .col-80 phonerepairstatenisland.com
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half

            .card
              .card-header About
              .card-content
                .card-content-inner.
                  SMARTFIX Repairs, has officially been established in
                  summer of 2014, but it took years for preparation.
                  We saw the need in providing our community with fast
                  yet very professional electronic repair services. Our
                  intentions have always been keeping our customers
                  satisfied, and the only way to achieve it is by providing
                  the best quality repair at a lower cost. What makes us
                  different from most other shops is that we take every
                  single repair as a challenge, and with this mindset we
                  go an extra mile to be able to repair devices that would
                  normally be turned away. We only work with a few parts
                  suppliers who have proved that their parts deserve to be
                  installed on your phone. Our team is made up of the
                  smartest and creative minds, who truly enjoy their work.
                  We always grow and add new services. Starting with most
                  common repairs such as iPhone cracked screen replacements,
                  we eventually came to point where now we offer motherboard
                  component repairs.
            .card
              .card-header Services
              .card-content
                .card-content-inner.
                  Cracked screens, virus removal, tune up, water
                  damage we repair all of these issues.
                  #[br]We service most tablets, Cracked screens, water damage,
                  charging ports, battery replacement etc.
                  #[br]We carry replacement parts for most smartphones, and we also
                  offer motherboard repair services.

            .row
              .col-50
                a(href='schedule-service.html' class='button button-big button-fill theme-lightblue' style='background: #3AA64C') Schedule Service
              .col-50
                a(href='contact-us.html' class='button button-big button-fill theme-lightblue' style='background: #007aff') Contact Us

        #reviews.tab
          .content-block
            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/male-1.jpg' width='34' height='34')
                .facebook-name Paul	Goodman
                .facebook-date November 1 at 2:15 PM
              .card-content
                .card-content-inner
                  p.
                    About 70 bucks for a cracked iPhone 5s screen- dropped
                    it pretty bad on cement and the crack was ridiculous
                    but the phone was still fully functional. Decent price
                    compared to Apple repairs I bet.
                  img(src='../customer/images/reviews/iphone-1.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half
                  i.material-icons star_border

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/female-1.jpg' width='34' height='34')
                .facebook-name Dolores Miller
                .facebook-date October 28 at 8:00 AM
              .card-content
                .card-content-inner
                  p.
                    Service was fine and quick which was great that day...
                    140$ for screen fix plus case ok cool I can deal. Except
                    a month later and realized whatever glue they used to hold
                    the new screen down isn't holding.. Shortly after dropped
                    phone w case and screen protector cracking the screen...not
                    the screen protecter...
                  img(src='../customer/images/reviews/iphone-2.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_border
                  i.material-icons star_border
                  i.material-icons star_border

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/female-2.jpg' width='34' height='34')
                .facebook-name Pamela	Murray
                .facebook-date October 24 at 3:00 PM
              .card-content
                .card-content-inner
                  p.
                    Did the online quote....got back to me by the next day! Went
                    in Saturday morning. Guy, don't know his name, was SUPER
                    nice! I phone screen replaced in 30 min! So far all is perfect!
                  img(src='../customer/images/reviews/iphone-1.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/male-2.jpg' width='34' height='34')
                .facebook-name Kenneth	Powers
                .facebook-date October 1 at 8:45 PM
              .card-content
                .card-content-inner
                  p.
                    Cracked iPhone 6S screen repair. Fast repair,
                    less money than other local repair shops and they
                    offered a tempered glass screen cover Installed at a
                    discount. Pleasant staff.  90 day warranty on the
                    repair.  Open 7 days a week.
                  img(src='../customer/images/reviews/ipad-1.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/male-1.jpg' width='34' height='34')
                .facebook-name Paul	Goodman
                .facebook-date November 1 at 2:15 PM
              .card-content
                .card-content-inner
                  p.
                    About 70 bucks for a cracked iPhone 5s screen- dropped
                    it pretty bad on cement and the crack was ridiculous
                    but the phone was still fully functional. Decent price
                    compared to Apple repairs I bet.
                  img(src='../customer/images/reviews/iphone-1.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half
                  i.material-icons star_border

            .card.facebook-card
              .card-header
                .facebook-avatar
                  img(src='../customer/images/reviews/male-3.jpg' width='34' height='34')
                .facebook-name Ralph Gomez
                .facebook-date May 4 at 2:15 PM
              .card-content
                .card-content-inner
                  p.
                    Stan was very helpful, approachable, and quick! There's
                    a 90 day warranty with everything they fix too! We brought
                    in an ipad mini with a shattered screen and after they
                    replaced the screen, it looks as good as new! They also
                    offer great prices relative to other stores!
                  img(src='../customer/images/reviews/ipad-2.jpg' width='100%')
              .card-footer
                div(class='star-ratings' style='width: 100%; text-align: right')
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star
                  i.material-icons star_half
                  i.material-icons star_border
