doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title IS 663 - GETTECH

    link(rel='stylesheet' href='libs/normalize-css/normalize.css')
    link(rel='stylesheet' href='libs/roboto-fontface/css/roboto/roboto-fontface.css')
    link(rel='stylesheet' href='styles/main.css')

    script(src='libs/jquery/dist/jquery.min.js')

  body
    .main-row-1
      .container
        .content
          .col-1
            h1 GETTECH
          .col-2
            p Goralczyk, Tomasz
            p Nayak, Tanuka
            p Sathe, Mukta
            p Ragsdale, Tory
            p Chhabriya, Lakhan
    hr
      
    .main-row-2
      .container
        .content
          .col
            p Customer
          .col
            p Service Provider
          .col
            p Customer Service
    hr

    .main-row-3
      .container
        .content
          iframe(src='customer/index.html')
          img(src='img/apple-iphone-5s.svg' alt='iphone 5 image')
