doctype html
html(lang='en')
  head
    title IS 663 - GETTECH
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='libs/normalize-css/normalize.css')
    link(rel='stylesheet' href='libs/roboto-fontface/css/roboto/roboto-fontface.css')
    link(rel='stylesheet' href='styles/main.css')

  body
    .main-row-1
      .container
        .content
          //h1 Sample text

    .main-row-2
      .container
        .content
          //h1 Whatever

    .main-row-3
      .container
        .content
